span {
  font-size: 2em;
  color: red;
  text-align: center;
  vertical-align: middle;
}

p {
  font-size: 2em;
  color: blue;
  text-align: center;
  vertical-align: middle;
}

button {
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}

.homeindex
{
  text-align: center;
}
a:hover
{
  text-decoration: underline;
  cursor: pointer;
}
.initial-hidden
{
  display: none;
}
.yuge
{
  font-size: 100px;
}
.logoimg
{
  -webkit-animation-iteration-count: infinite;
}
#tamagotchihome
{
  width:75%;
}

.normal
{
  width: 300px;
  -webkit-animation-iteration-count: infinite;
}

.saiyan
{
  width: 350px;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.3s;
}

.rip
{
  width: 300px;
  height: auto;
}
