span {
  font-size: 45px;
  color: red;
}
p {
  font-size: 45px;
  color: blue;
}
button {
  font-size: 45px;
}

.homeindex
{
  text-align: center;
}
a:hover
{
  text-decoration: underline;
  cursor: pointer;
}
.initial-hidden
{
  display: none;
}
.yuge
{
  font-size: 100px;
}
.logoimg
{
  -webkit-animation-iteration-count: infinite;
}
#tamagotchihome
{
  width:75%;
}
#firstguy
{
  float:right;
  width: 300px;
  -webkit-animation-iteration-count: infinite;
}
#secondguy
{
  float:right;
  width: 300px;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.3s;
}
